{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
Password Reset Done
{% endblock %}

{% block body %}


<div class="container">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'index' %}">Log in</a> now.
  </p>
</div>


{% endblock %}



{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  <div class="container">
    <p>
      Your password has been set. You may go ahead and <a href="{% url 'home' %}">Log in</a> now.
    </p>
  </div>

{% endblock %}
