{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}p4 %}
{% block body %}
<br>
  <div class="jumbotron">
    <h3>Forgot password</h3>
    <form method="post">
      {% csrf_token %}
      <div class="form-group"><label for="id_email">Email</label><input type="email" name="email" maxlength="254" class="form-control" placeholder="Email" title="" required="" id="id_email"></div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
