{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
Password Reset
{% endblock %}

{% block body %}
  {% if validlink %}
  <br>
  <div class="container">

    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">Change password</button>
    </form>
  </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
