{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
sign up
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
  <div class="container"  style="background-color: #F2F3F4; border-radius: 5px; border-color: grey;"><br>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <font style="font-size: 25px; font-family: Helvetica;">ADD BATCH</font><hr>
        </div>
      </div>
    </div>
  </div>
  <form action="{% url 'accounts:add_batch' %}" method = "GET">
    <div class="container">
      <div class="container row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group"><label for="id_branch">Branch</label><select name="branch" class="form-control" id="branch">
            <option value="">Select</option>
            {% for branch in branches %}
            <option value="{{branch.branch_code}}">{{branch.branch_code}}</option>
            {% endfor %}
            </select>
          </div>

          <div class="form-group"><label for="id_sem">Sem</label><select name="sem" class="form-control" id="id_sem"">
            <option value="">Select</option>
            {% for i in '12345678'|make_list %}
              <option value="{{forloop.counter}}">{{forloop.counter}}</option>
            {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="id_course_schema">Course Schema</label>
              <div class="form-group">
                <select name="course_schema" class="form-control" id="id_course_schema">
                  <option value="">Course Intro year</option>
                  {% for year in course_schema %}
                  <option value="{{year}}">{{year}}</option>
                  {% endfor %}
                  </select>
              </div>
          </div>

          <div class="form-group">
            <center>
              <input type="submit" name='search' class="btn btn-primary " value=" Add ">
            </center>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div><hr>
    </div>
  </form>

  <div class="container">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th style="text-align: center; vertical-align: middle;" scope="col">S.No.</th>
          <th style="text-align: center; vertical-align: middle;" scope="col">Batch</th>
          <th style="text-align: center; vertical-align: middle;" scope="col">Courses</th>
        </tr>
      </thead>
      <tbody>
        {% for batch_count in batch_counts %}
        <tr>
          <th style="text-align: center; vertical-align: middle;" scope="row">{{ forloop.counter }}</th>
          <td style="text-align: center; vertical-align: middle;">{{batch_count.branch_sem}}</td>
          <td style="text-align: center; vertical-align: middle;">{{batch_count.total}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="container">
      <a href="{% url 'accounts:pass_value' %}" class="btn btn-primary">Pass Value</a>
  </div>



  {% endif %}

{% endblock %}
