{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}

{% block extrascript %}
  <script>
    function redirect(){
      window.location.href = '{% url 'accounts:signup' %}'
    };
  </script>
{% endblock %}

{% block title %}
login
{% endblock %}

{% block body %}
  <div class="register">
    <div class="row">

      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
        <h3><font color="white">Welcome</font></h3>
        <p>You are 30 seconds away from from making timetable</p>
        <input type="submit" onclick="redirect()" href="" value="Register"/>
      </div>

      <div class="col-md-9 register-right">
        <div class="tab-content" id="myTabContent">
          <div id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Login as a faculty</h3>
            <form action="{% url 'index' %}" method = "POST">
              {% csrf_token %}
              {% bootstrap_form_errors form %}
              <div class="row register-form">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" name="username" autofocus="" class="form-control" placeholder="Email" title="" required="" id="id_username">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" title="" required="" id="id_password">
                  </div>
                  <input type="submit" class="btnRegister"  value="Login"/>
                  <a href="{% url 'accounts:password_reset' %}"><font color="blue">Forgot Password?</font></a>
                </div>
                <div class="col-md-3"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}










{% block custom_js %}
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/contactform.js' %}"></script>
{% endblock %}
