{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}
{% load mathfilters %}
{% load account_extras %}

{% block title %}
sign up
{% endblock %}

{% block extrascript %}
  <link rel="stylesheet" href="{% static 'css/table1.css' %}">
  <link rel="stylesheet" href="{% static 'css/table2.css' %}">
  <style>
    @font-face {
  font-family: OpenSans-Regular;
  src: url({% static 'fonts/OpenSans/OpenSans-Regular.ttf' %});
  }
  </style>
{% endblock %}

{% block body %}

  <!-- {% if "CSE3" in batches %} -->
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">Date/Time</th>
                  <th class="column2">8:30 - 9:20</th>
                  <th class="column2">9:20 - 10:10</th>
                  <th class="column2">10:10 - 11:00</th>
                  <th class="column2">11:00 - 11:50</th>
                  <th class="column2">11:50 - 12:40</th>
                  <th class="column2">12:40 - 1:30</th>
                  <th class="column2">1:30 - 2:20</th>
                  <th class="column2">2:20 - 3:10</th>
                  <th class="column2">3:10 - 4:00</th>
                  <th class="column2">4:00 - 4:50</th>
                  <th class="column2">4:50 - 5:40</th>
                </tr>
              </thead>
              <tbody>
                  {% for day in days %}
                  <tr>
                    <td class="column1">{{day}}</td>
                    {% with i=forloop.counter0|mul:"11"|add:"0"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" draggable="true" id="0"><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"1"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"2"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"3"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"4"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"5"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"6"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" draggable="true" id="5">{{res.cse3}}<br>{{teacher.2}}<br></p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"7"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"8"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"9"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"10"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">{{res.cse3}}<br>{{teacher.2}}</td>
                    {% endwith %}
                    {% endwith %}
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <!-- {% endif %} -->

  <script>
    	var teachMap = {};
    	var classMap = {};

    	teachMap["IY"] = new Map();
    	teachMap["PP"] = new Map();
    	teachMap["TT"] = new Map();
    	teachMap["BB"] = new Map();
    	classMap["B5"] = new Map();
    	classMap["Elec"] = new Map();
      var a = {{teachers|safe}}
    	classMap["Mng"] = new Map();
    	teachMap["IY"][0] = 1;
    	teachMap["IY"][1] = 1;
    	function dragStart(event) {
    	  event.dataTransfer.setData("Text", event.target.id);
    	}

    	function allowDrop(event) {
    	  event.preventDefault();
    	}

    	function drop(event) {
    	  event.preventDefault();
    	  var data = event.dataTransfer.getData("Text");



      var srcCourse = document.getElementById(data).textContent.slice(0, -2);
      var srcTeach = document.getElementById(data).textContent.slice(-2);
      var tarCourse = event.target.textContent.slice(0, -2);
      var tarTeach = event.target.textContent.slice(-2);
      var srcSlot = parseInt(document.getElementById(data).id);
      var tarSlot = parseInt(event.target.id);
      console.log(srcTeach, srcSlot);
      if(teachMap[srcTeach][tarSlot] !== 1 && teachMap[tarTeach][srcSlot] !== 1){
      	teachMap[srcTeach][srcSlot] = 0;
      	teachMap[srcTeach][srcSlot+1] = 0;
      	teachMap[srcTeach][tarSlot] = 1;
      	teachMap[srcTeach][tarSlot+1] = 1;

      	teachMap[tarTeach][tarSlot] = 0;
      	teachMap[tarTeach][tarSlot+1] = 0;
      	teachMap[tarTeach][srcSlot] = 1;
      	teachMap[tarTeach][srcSlot+1] = 1;
      	swapNodes(event.target, document.getElementById(data));
      }
      else
      	alert("overlap");
    }

    function swapNodes(node1, node2) {
    	var id = node1.id;
    	node1.id = node2.id;
    	node2.id = id;

        node2_copy = node2.cloneNode(true);
        node1.parentNode.insertBefore(node2_copy, node1);
        node2.replaceWith(node1);
    }
  </script>

{% endblock %}
