{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}
{% load mathfilters %}
{% load account_extras %}

{% block title %}
sign up
{% endblock %}

{% block extrascript %}
  <link rel="stylesheet" href="{% static 'css/table1.css' %}">
  <link rel="stylesheet" href="{% static 'css/table2.css' %}">
  <style>
    @font-face {
  font-family: OpenSans-Regular;
  src: url({% static 'fonts/OpenSans/OpenSans-Regular.ttf' %});
  }
  </style>
{% endblock %}

{% block body %}

  <!-- {% if "CSE3" in batches %} -->
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">Date/Time</th>
                  <th class="column2">8:30 - 9:20</th>
                  <th class="column2">9:20 - 10:10</th>
                  <th class="column2">10:10 - 11:00</th>
                  <th class="column2">11:00 - 11:50</th>
                  <th class="column2">11:50 - 12:40</th>
                  <th class="column2">12:40 - 1:30</th>
                  <th class="column2">1:30 - 2:20</th>
                  <th class="column2">2:20 - 3:10</th>
                  <th class="column2">3:10 - 4:00</th>
                  <th class="column2">4:00 - 4:50</th>
                  <th class="column2">4:50 - 5:40</th>
                </tr>
              </thead>
              <tbody>
                  {% for day in days %}
                  <tr>
                    <td class="column1">{{day}}</td>
                    {% with i=forloop.counter0|mul:"11"|add:"0"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"1"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"2"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"3"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"4"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"5"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"6"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"7"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"8"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"9"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% with i=forloop.counter0|mul:"11"|add:"10"%}
                    {% with res=results|get_at_index:i teacher=teachers|get_at_index:i %}
                    <td class="column2">
                      <div class="subject" ondrop="drop(event)" ondragover="allowDrop(event)"><p ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id={{i}}><br>{{res.cse3}}<br>{{teacher.2}}</p></div>
                    </td>
                    {% endwith %}
                    {% endwith %}
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <!-- {% endif %} -->

  <script>
      var teachers = {{teachers|safe}}
      var rooms = {{rooms|safe}}
       // Chutiya Pradeep
      var batch_id = 2;


    	function dragStart(event) {
    	  event.dataTransfer.setData("Text", event.target.id);

        // Highlight possible slots
        var data = event.dataTransfer.getData("Text");
        document.getElementById(data).style.backgroundColor = "#a1cced";


        for(var i = 0; i < 55; i++)
        {
          var srcSlot = parseInt(document.getElementById(data).id);
          var tarSlot = i;
          var srcCourse = document.getElementById(data).textContent.slice(0, -2);
          var srcTeach = document.getElementById(data).textContent.slice(-2);
          var tarCourse =  document.getElementById(i.toString(10)).textContent.slice(0, -2);
          var tarTeach =  document.getElementById(i.toString(10)).textContent.slice(-2);

          if(srcSlot == tarSlot)
            {
              continue;
            }

          //
          var tarTeachFound = teachers[tarSlot].find(function(t){return t==srcTeach;});
          var srcTeachFound = teachers[srcSlot].find(function(t){return t==tarTeach;});
          var tarRoomFound = rooms[tarSlot].find(function(t){return t==rooms[srcSlot][batch_id];});
          var srcRoomFound = rooms[srcSlot].find(function(t){return t==rooms[tarSlot][batch_id];});

          if(teachers[tarSlot][batch_id] == srcTeach || tarTeachFound == '""')
            tarTeachFound = null;
          if(teachers[srcSlot][batch_id] == tarTeach || srcTeachFound == '""')
            srcTeachFound = null;
          if(rooms[tarSlot][batch_id] == rooms[srcSlot][batch_id]){
            tarRoomFound = null;
            srcRoomFound = null;
          }
          else if(srcRoomFound !== null && srcRoomFound == "")
            srcRoomFound = null;
          else if(tarRoomFound !== null && tarRoomFound == "")
            tarRoomFound = null;


          // console.log(tarRoomFound, srcRoomFound);
          // console.log(tarTeachFound, srcTeachFound);

          if(tarRoomFound == null && srcRoomFound == null && tarTeachFound == null && srcTeachFound == null){
            document.getElementById(i.toString(10)).style.color = "#3d0fa3";
          }
        }
    	}

    	function allowDrop(event) {
    	  event.preventDefault();
    	}

      function dragEnd(event) {
        for(var i=0; i< 55; i++){
          document.getElementById(i.toString(10)).style.color = "";
          document.getElementById(i.toString(10)).style.backgroundColor = "";
        }
      }
    	function drop(event) {
    	  event.preventDefault();
    	  var data = event.dataTransfer.getData("Text");



      var srcCourse = document.getElementById(data).textContent.slice(0, -2);
      var srcTeach = document.getElementById(data).textContent.slice(-2);
      var tarCourse = event.target.textContent.slice(0, -2);
      var tarTeach = event.target.textContent.slice(-2);
      var srcSlot = parseInt(document.getElementById(data).id);
      var tarSlot = parseInt(event.target.id);

      if(srcSlot == tarSlot)
        {
          console.log("Same Slot");
          return;
        }

      //
      var tarTeachFound = teachers[tarSlot].find(function(t){return t==srcTeach;});
      var srcTeachFound = teachers[srcSlot].find(function(t){return t==tarTeach;});
      var tarRoomFound = rooms[tarSlot].find(function(t){return t==rooms[srcSlot][batch_id];});
      var srcRoomFound = rooms[srcSlot].find(function(t){return t==rooms[tarSlot][batch_id];});

      if(teachers[tarSlot][batch_id] == srcTeach || tarTeachFound == '""')
        tarTeachFound = null;
      if(teachers[srcSlot][batch_id] == tarTeach || srcTeachFound == '""')
        srcTeachFound = null;
      if(rooms[tarSlot][batch_id] == rooms[srcSlot][batch_id]){
        tarRoomFound = null;
        srcRoomFound = null;
      }
      else if(srcRoomFound !== null && srcRoomFound == "")
        srcRoomFound = null;
      else if(tarRoomFound !== null && tarRoomFound == "")
        tarRoomFound = null;



      console.log(tarRoomFound, srcRoomFound);
      console.log(tarTeachFound, srcTeachFound);

      if(tarRoomFound == null && srcRoomFound == null && tarTeachFound == null && srcTeachFound == null){
        var tmp = rooms[srcSlot][batch_id];
        rooms[srcSlot][batch_id] =  rooms[tarSlot][batch_id];
        rooms[tarSlot][batch_id] = tmp;

        var tmp = teachers[srcSlot][batch_id];
        teachers[srcSlot][batch_id] =  teachers[tarSlot][batch_id];
        teachers[tarSlot][batch_id] = tmp;
      	swapNodes(event.target, document.getElementById(data));
      }
      else
      	alert("overlap");
    }

    function swapNodes(node1, node2) {
    	var id = node1.id;
    	node1.id = node2.id;
    	node2.id = id;

        node2_copy = node2.cloneNode(true);
        node1.parentNode.insertBefore(node2_copy, node1);
        node2.replaceWith(node1);
    }
  </script>

{% endblock %}
