<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/imagehover.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">

    <!--bootstrap js -->
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'ajax/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>

    {% block extrascript %}

    {% endblock %}

    {% block extra_cdn %}

    {% endblock %}

    <meta charset="utf-8">

    <title>
      {% block title %}

      {% endblock %}
    </title>
    </head>
    <body>

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark primary-color myregister">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="">Time Table</a>

        <!-- Collapse button -->

        <!-- Collapsible content -->
        <div class="navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'accounts:home' %}"><font style="color: white;">Home</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://iiitu.ac.in/"><font style="color: white;">IIIT Una</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}"><font style="color: white;">Admin</font></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:pass_value' %}"><font style="color: white;">Show Timetable</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:logout' %}"><font style="color: white;">Logout</font></a>
            </li>
              {% endif %}

            <!-- Dropdown -->

          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->
      </nav>
      <!--/.Navbar-->
      {% block body %}

      {% endblock %}

      {% block custom_js %}

      {% endblock %}
    </body>
  </html>
